@media screen and (max-width: 1023.98px ) {
   
    .grid
    {
        padding: 10px;
    }
    .header_above
{
    background-color: #000;
    padding: 10px;
    &_nav_adress a
    {
        color: #fff;
       font-size: 0.9rem;
    }
    &_nav_adress a:hover,
    &_nav_adress a:active
    {
        color: #e0dede;
    }
    &_nav_informaiton_phone
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_nav_informaiton_phone i,
    &_nav_informaiton_phone span a
    {
        color: #fff;
        font-size: 0.9rem;
    }
    &_nav_informaiton_phone span a:hover,
    &_nav_informaiton_phone span a:active
    {
        color: #e0dede;

    }
    &_nav_informaiton_login a,
    &_nav_informaiton_register a
    &_nav_informaiton_registe a,
    &_nav_informaiton_translate a
    {
        color: #fff;
        font-weight: 400;
        font-size: 0.9rem;
    }
}
.header_hidden
{
    // background-color: #474646;
    // padding: 10px;
    &_nav
    {
        @include flex_column;
    }
    &_nav .logo img
    {
        width: 150px;
    }
    &_nav_menu
    {
        @include flex_column(10px);
    }
    &_nav_menu_product ul
    {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &_nav_menu_product ul li a 
    {
        font-size: 1rem;
        color: #000;
        text-transform: capitalize;
    }
    &_nav_menu_product ul li
    {
        position: relative;
        transition: all 0.3 ease;
    }
    &_nav_menu_product ul li a:hover,
    &_nav_menu_product ul li a:active
    {
        color: #474646;
    }
    &_nav_tool
    {
        @include flex_column(10px);
    }
    &_nav_tool>div>i
    {
        font-size: 1rem;
        padding-bottom: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &_nav_tool>div>i:hover,
    &_nav_tool>div>i:active
    {
        color: #e0dede;
    }
    .multi-level
    {
        display: none;
        position: absolute;
        transition: all 0.3s ease;
    }
    .multi-level ul
    {
        display: flex;
        align-items: start;
        padding: 10px;
        flex-direction: column;
        // background: #474646;
        min-width: 200px;
        box-sizing: border-box;
        box-shadow: 2px 2px 4px 2px  rgba($color: #000000, $alpha: 0.25);
        border-radius: 4px;
    }
    .multi-level ul li a
    {
        font-size: 1.1rem;
        font-weight: 500;
        word-wrap:break-word;
        // border-bottom: 1px solid black;
        // max-width: 100%;
    }
    .multi-level ul li a:hover,
    .multi-level ul li a:active
    {
        color: #e0dede;
    }
    &_nav_menu_product ul li:hover .multi-level
    {
        display: block;
    }
    &_nav_menu_responsive
    {
        display: none;
    }
}
}
@media screen and (max-width: 850px) {
    .header_above
    {
        display: none;
    }
}
